body {
  padding: 0px;
}

.title {
  text-align: center;
  font-weight: bold;
  padding: 4px;
}

.game-area {
  text-align: center;
  margin: auto;
  width: 50%;
}

.hand {
  text-align: center;
}

.buttons {
  margin: auto;
  width: 50%;
}

.invis {
  display: none;
}

button {
  margin: 5px;
}